{% extends 'base.html' %}
{% block head %}
{{ super () }}
<link href="{{url_for('static', filename='css/core-style.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}

    <section class="payment-form dark">
      <div class="container">
        <div class="block-heading">
          <h2>Payment</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
        </div>
        <form method='POST'>
          <div class="products">
            <h3 class="title">Checkout</h3>
          {% for i in items %}
            <div class="item">
              <span class="price">{{i.price}}</span>
              <p class="item-name">{{i.name}}</p>
              <p class="item-description">Lorem ipsum dolor sit amet</p>
            </div>
            {% endfor %}
            <div class="total">Total<span class="price">{{ items | sum(attribute='price') }}</span></div>
          </div>

          <div class="card-details">
            <h3 class="title">Credit Card Details</h3>
            <div class="row">
              {{form.hidden_tag()}}
              <div class="form-group col-sm-6">
              <label for="ime">Ime i Prezime</label>
              {{form.name(class='form-control', id='ime', placeholder='Ime i Prezime')}}
              </div>
              <div class="form-group col-sm-6">
              <label for="emailu">Email</label>
              {{form.email(class='form-control', id='emailu', placeholder='Email')}}
              </div>
              <div class="form-group col-sm-8">
                <label for="comment">Upit</label>
                {{form.text(class='form-control', id='comment', placeholder='Vise informacija o vasoj narudžbi',)}}
              </div>
              <div class="d-flex justify-content-center">
                <label for="phone">Broj Tel.</label>
                {{form.number(class='form-control', id='phone', placeholder='Broj telefona')}}
              </div>
              <div class="form-group col-sm-4">
                {{form.submit(class='btn shop-btn mb-15 ma')}}
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
{% endblock %}