{% extends 'base.html' %} {% block head %} {{ super () }}
<link href="{{url_for('static', filename='css/core-style.css')}}" rel="stylesheet"> {% endblock %} {% block content %}
<section id='banner'>
    <header>
        <div class="cont">
            <div class="mouse"></div>
            <div class="app">
                <div class="app__bgimg">
                    <div class="app__bgimg-image app__bgimg-image--1">
                    </div>
                    <div class="app__bgimg-image app__bgimg-image--2">
                    </div>
                </div>
                <div class="app__img">
                    <img onmousedown="return false" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/whiteTest4.png" alt="city" />
                </div>

                <div class="app__text app__text--1">
                    <div class="app__text-line app__text-line--4">ha ve steel </div>
                    <div class="app__text-line app__text-line--3">najmestaj</div>
                    <div class="app__text-line app__text-line--2">po vasoj mjeri </div>
                    <div class="app__text-line app__text-line--1"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/opus-attachment.png" alt="" /></div>
                </div>

                <div class="app__text app__text--2">
                    <div class="app__text-line app__text-line--4">Nedim</div>
                    <div class="app__text-line app__text-line--3">ima</div>
                    <div class="app__text-line app__text-line--2">paru</div>
                    <div class="app__text-line app__text-line--1"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/opus-attachment.png" alt="" /></div>
                </div>
            </div>
            <div class="pages">
                <ul class='pages__list'>
                    <li data-target='1' class='pages__item pages__item--1 page__item-active'></li>
                    <li data-target='2' class='pages__item pages__item--2'></li>
                </ul>
            </div>
        </div>
    </header>
</section>

</div>
</div>
<section id='products'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center carousel-title">What do we do ?</h1>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="wrapper">
                            <div class="container">
                                <div class="top"></div>
                                <div class="bottom">
                                    <div class="left">
                                        <div class="details">
                                            <h1>Chair</h1>
                                            <p>£250</p>
                                        </div>
                                        <div class="buy"><i class="material-icons">add_shopping_cart</i></div>
                                    </div>
                                    <div class="right">
                                        <div class="done"><i class="material-icons">done</i></div>
                                        <div class="details">
                                            <h1>Chair</h1>
                                            <p>Added to your cart</p>
                                        </div>
                                        <div class="remove"><i class="material-icons">clear</i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="inside">
                                <div class="icon"><i class="material-icons">info_outline</i></div>
                                <div class="contents">
                                    <table>
                                        <tr>
                                            <th>Width</th>
                                            <th>Height</th>
                                        </tr>
                                        <tr>
                                            <td>3000mm</td>
                                            <td>4000mm</td>
                                        </tr>
                                        <tr>
                                            <th>Something</th>
                                            <th>Something</th>
                                        </tr>
                                        <tr>
                                            <td>200mm</td>
                                            <td>200mm</td>
                                        </tr>
                                        <tr>
                                            <th>Something</th>
                                            <th>Something</th>
                                        </tr>
                                        <tr>
                                            <td>200mm</td>
                                            <td>200mm</td>
                                        </tr>
                                        <tr>
                                            <th>Something</th>
                                            <th>Something</th>
                                        </tr>
                                        <tr>
                                            <td>200mm</td>
                                            <td>200mm</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="wrapper">
                            <div class="container">
                                <div class="top"></div>
                                <div class="bottom">
                                    <div class="left">
                                        <div class="details">
                                            <h1>Chair</h1>
                                            <p>£250</p>
                                        </div>
                                        <div class="buy"><i class="material-icons">add_shopping_cart</i></div>
                                    </div>
                                    <div class="right">
                                        <div class="done"><i class="material-icons">done</i></div>
                                        <div class="details">
                                            <h1>Chair</h1>
                                            <p>Added to your cart</p>
                                        </div>
                                        <div class="remove"><i class="material-icons">clear</i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="inside">
                                <div class="icon"><i class="material-icons">info_outline</i></div>
                                <div class="contents">
                                    <table>
                                        <tr>
                                            <th>Width</th>
                                            <th>Height</th>
                                        </tr>
                                        <tr>
                                            <td>3000mm</td>
                                            <td>4000mm</td>
                                        </tr>
                                        <tr>
                                            <th>Something</th>
                                            <th>Something</th>
                                        </tr>
                                        <tr>
                                            <td>200mm</td>
                                            <td>200mm</td>
                                        </tr>
                                        <tr>
                                            <th>Something</th>
                                            <th>Something</th>
                                        </tr>
                                        <tr>
                                            <td>200mm</td>
                                            <td>200mm</td>
                                        </tr>
                                        <tr>
                                            <th>Something</th>
                                            <th>Something</th>
                                        </tr>
                                        <tr>
                                            <td>200mm</td>
                                            <td>200mm</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm">
                        <div class="wrapper">
                            <div class="container">
                                <div class="top"></div>
                                <div class="bottom">
                                    <div class="left">
                                        <div class="details">
                                            <h1>Chair</h1>
                                            <p>£250</p>
                                        </div>
                                        <div class="buy"><i class="material-icons">add_shopping_cart</i></div>
                                    </div>
                                    <div class="right">
                                        <div class="done"><i class="material-icons">done</i></div>
                                        <div class="details">
                                            <h1>Chair</h1>
                                            <p>Added to your cart</p>
                                        </div>
                                        <div class="remove"><i class="material-icons">clear</i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="inside">
                                <div class="icon"><i class="material-icons">info_outline</i></div>
                                <div class="contents">
                                    <table>
                                        <tr>
                                            <th>Width</th>
                                            <th>Height</th>
                                        </tr>
                                        <tr>
                                            <td>3000mm</td>
                                            <td>4000mm</td>
                                        </tr>
                                        <tr>
                                            <th>Something</th>
                                            <th>Something</th>
                                        </tr>
                                        <tr>
                                            <td>200mm</td>
                                            <td>200mm</td>
                                        </tr>
                                        <tr>
                                            <th>Something</th>
                                            <th>Something</th>
                                        </tr>
                                        <tr>
                                            <td>200mm</td>
                                            <td>200mm</td>
                                        </tr>
                                        <tr>
                                            <th>Something</th>
                                            <th>Something</th>
                                        </tr>
                                        <tr>
                                            <td>200mm</td>
                                            <td>200mm</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</section>

<section id='services'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center carousel-title">What do we do ?</h1>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm" data-aos="fade-right">
                        <i class="fab fa-telegram-plane"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="col-sm">
                        <i class="fab fa-telegram-plane"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="col-sm" data-aos="fade-left">
                        <i class="fab fa-telegram-plane"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id='workout'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <hr>
            </div>
            <div class="row">
                <div class="col-sm-8" data-aos="fade-right">
                    <img src="static/images/register.jpg" class='img-fluid' alt="">
                </div>
                <div class="col-sm-4" data-aos="fade-left">

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>

            </div>
        </div>
    </div>
</section>

<section id='aboutus'>
    <div class="container">
        <div class="col-md-12">
            <h1 class="text-center carousel-title">What do we do ?</h1>
            <hr>
        </div>
        <div class="row">

            <div class="col-md-4" data-aos="fade-right">

                <div class="card2">
                    <img src="https://scontent.fbeg4-1.fna.fbcdn.net/v/t1.0-9/s960x960/79016782_10218064720901800_6856120336862150656_o.jpg?_nc_cat=111&_nc_oc=AQmnEp4lyaMCkFofVH4xvWdwdruybJjTfYrET5Qtr836mggCjwYmeF3ZtoCu1cSgklI&_nc_ht=scontent.fbeg4-1.fna&_nc_tp=1002&oh=ee8251381d1a88b44c1d721ebcb6fa95&oe=5EDBB661" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h4><b>Nedim Avdicevic</b></h4>
                        <p>Direktor</p>
                        <i class="fab fa-facebook"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 about">
                <i class="fas fa-phone"></i>
                <p class='details'>
                    <br> Grad : Gradacac
                    <br> Adresa : Celikovaca
                    <br> Radno vrijeme : 07 : 16 h
                    <br>
                </p>
            </div>
            <div class="col-md-4 about" data-aos="fade-left">
                <i class="fas fa-phone"></i>
                <p class='details'>
                    <br> Grad : Gradacac
                    <br> Adresa : Celikovaca
                    <br> Radno vrijeme : 07 : 16 h
                    <br>
                </p>
            </div>
        </div>
    </div>

</section>

<script type="text/javascript">
    $(document).ready(function() {
        const $app = $('.app');
        const $img = $('.app__img');
        const $pageNav1 = $('.pages__item--1');
        const $pageNav2 = $('.pages__item--2');
        let animation = true;
        let curSlide = 1;
        let scrolledUp, nextSlide;

        let pagination = function(slide, target) {
            animation = true;
            if (target === undefined) {
                nextSlide = scrolledUp ? slide - 1 : slide + 1;
            } else {
                nextSlide = target;
            }

            $('.pages__item--' + nextSlide).addClass('page__item-active');
            $('.pages__item--' + slide).removeClass('page__item-active');

            $app.toggleClass('active');
            setTimeout(function() {
                animation = false;
            }, 3000)
        }

        let navigateDown = function() {
            if (curSlide > 1) return;
            scrolledUp = false;
            pagination(curSlide);
            curSlide++;
        }

        let navigateUp = function() {
            if (curSlide === 1) return;
            scrolledUp = true;
            pagination(curSlide);
            curSlide--;
        }

        setTimeout(function() {
            $app.addClass('initial');
        }, 1500);

        setTimeout(function() {
            animation = false;
        }, 4500);

        $(document).on('mousewheel DOMMouseScroll', function(e) {
            var delta = e.originalEvent.wheelDelta;
            if (animation) return;
            if (delta > 0 || e.originalEvent.detail < 0) {
                navigateUp();
            } else {
                navigateDown();
            }
        });

        $(document).on("click", ".pages__item:not(.page__item-active)", function() {
            if (animation) return;
            let target = +$(this).attr('data-target');
            pagination(curSlide, target);
            curSlide = target;
        });
    });
</script>

{% endblock %}
